.dotify {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product_intro {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.test{
     background-color: aqua;
}